/*Reset stylesheet*/
@import "modern-normalize";

:root {
  --blue: rgb(6, 115, 165);
}

h1, h2, h3, h4, h5, figure, p, ol, ul {
  margin: 0;
}

ol[role="list"], ul[role="list"] {
  list-style: none;
  padding-inline: 0;
}

h1, h2, h3, h4, h5 {
  font-size: inherit;
  font-weight: inherit;
}

img {
  display: block;
  max-inline-size: 100%;
}

/*Main layout*/

body {
  margin: 0px;
  padding: 0px;

  overflow: hidden;
}
.sidebar {
  background-color: rgb(6, 115, 165);
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row: 1/ 3;
  height: 100%;

  /*elements layout*/
  display: grid;
  grid-template-columns: minmax(2.4vh, 5vh) auto;
  /*style*/
  color: white;
  padding-top: 19px;
  padding-left: 30px;

  align-content: start;
  row-gap: 18px;
}

.sidebar a:nth-child(2) {
  margin-left: 10px;
  margin-top: 9px;
}

a {
  text-decoration: none;
  color: white;
}

svg {
  fill: white;
}

.header {
  background-color: rgb(252, 252, 252);
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  width: 100%;
  height: auto;
  min-height: 20vh;
  box-shadow: 0 3px 13px rgba(0, 0, 0, 0.3);
}

.dashboard {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 17vw auto;
  grid-template-rows: auto 1fr;
  padding: 0;
  margin: 0;
}

/*content-layout*/
.main-content {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-row: 2/ 3;
  background-color: rgb(242, 236, 236);
}

button {
  color: white;
  background-color: rgb(6, 115, 165);
  border-radius: 16px;
  border-color: var(--blue);
  border: none;
  padding: 5px 19px;
}

.sidebar svg:first-child,
.sidebar a:first-of-type {
  margin-bottom: 30px; 
}

.sidebar a:nth-of-type(8), .sidebar svg:nth-of-type(8){
  margin-top: 40px;
}